{% extends "base.html" %}

{% block content %}

<!-- Добавляем карточку с картинкой про amocrm-->
<div class="card-group">
    <div class="card">
      <img src="/static/images/amo_cancellation.png" class="card-img-top" alt="Так вот в амо">
      <div class="card-body">
          <p class="card-text">Так выглядит список событий в amocrm</p>
          <p class="card-text">У них нельзя отменять события</p>
      </div>
    </div>

    <!-- Добавляем карточку с картинкой про мой сайт-->
    <div class="card">
      <img src="/static/images/my_cancellation.png" class="card-img-top" alt="Так вот в амо">
      <div class="card-body">
          <p class="card-text">А так у нас</p>
      </div>
    </div>
</div>
{% endblock %}