.table th:nth-child(1) { width: 20%; }
.table th:nth-child(2) { width: 20%; }
.table th:nth-child(3) { width: 10%; }
.table th:nth-child(4) { width: 10%; }
.table th:nth-child(5) { width: 10%; }

.card {
    margin-top: 50px;

}

@font-face {
    font-family: 'Golos UI'; /* Имя, которое будете использовать */
    src: url('/static/fonts/golos-ui_vf.woff2') format('woff2'); /* Путь к файлу */
    font-weight: normal;
    font-style: normal;
}

body {
  /* Пример использования шрифта Open Sans, если нет - Arial, затем любой без засечек */
  font-family: "Golos UI", Georgia, "Open Sans", sans-serif;
}

h1 {
        text-align: center;
        color: red;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Кнопка */
.custom-btn {
    color: #2d6ce0; /* Ваш цвет текста */
    background-color: #c6d7f7;      /* Ваш цвет фона */
    border: 2px solid #377bfa; /* Толщина, стиль, цвет */
    transition: all 0.3s;
}

/* Дополнительно для border в состоянии hover */
.custom-btn:hover {
    color: #195fe0; /* Ваш цвет текста */
    background-color: #90b6fc;      /* Ваш цвет фона */
    border: 2px solid #377bfa; /* Толщина, стиль, цвет */
    transform: scale(1.15); /* Увеличить в 1.2 раза */
}
.custom-btn:active {
    color: #195fe0; /* Ваш цвет текста */
    background-color: #90b6fc;      /* Ваш цвет фона */
    border: 2px solid #377bfa; /* Толщина, стиль, цвет */
}