{% extends "evellation/base.html" %}
{% block content %}
<!--форма-->
<form action="" method="post" style="display: flex; gap: 10px; align-items: center;">
        {{ form.hidden_tag() }}
        {% for i in form if i.name not in ['csrf_token'] %}
            {% if i.name == 'submit' %}
                <div>
                    {{ i(class="btn custom-btn", style="margin-top: 32px; height: 37.5px") }}
                </div>
            {% else %}
                <div>
                    {{ i.label }}
                    {{ i(class="form-control") }}
                </div>
                {% for error in i.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
                {{message}}
            {% endif %}
        {% endfor %}
    </form>



    <p></p>
    {% if not errors %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">дата</th>
              <th scope="col">автор</th>
              <th scope="col">объект</th>
              <th scope="col">название</th>
              <th scope="col">событие</th>
              <th scope="col">значение до</th>
              <th scope="col">значение после</th>
            </tr>
          </thead>
          <tbody>
            {% for event in events %}
                <tr>
                    {% for elem in event %}
                        <td>{{ elem }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
          </tbody>
        </table>
    {% else %}
        <h2>{{ errors }}</h2>
    {% endif %}
{% endblock %}