{% extends "evellation/base.html" %}

{% block content %}


    <form action="" method="post" style="margin: 0px; padding: 0px">
        {{ form.hidden_tag() }}
        {% for i in form %}
            {% if i.type == 'SubmitField' %}
                <p class="button-text">{{ form.submit(type="submit", class="btn custom-btn") }}</p>
            {% elif i.type == 'CSRFTokenField' %}
                {# если тип - CSRF просто ничего не делать #}
            {% elif i.type == 'BooleanField' %}
                <p>{{ i() }} {{ i.label }}</p>
            {% else %}
                <p class="narrow-text">
                    {{ i.label }}<br>
                    {{ i(class="form-control") }}<br>
                    {% for error in i.errors %}
                        <p class="alert alert-danger" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                {{message}}
                </p>
            {% endif %}
        {% endfor %}
      <nav  aria-label="breadcrumb" style="--bs-breadcrumb-divider: ' ';">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="https://www.amocrm.ru/">Перейти в amocrm</a></li>
          </ol>
      </nav>
    </form>
{% endblock %}