{% extends "evellation/base.html" %}

{% block content %}
<script src="/static/js/account.js" defer></script>
<!-- Модальное окно -->
<div class="modal fade custom-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content custom-modal-content">

      <div class="modal-header custom-modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Хотите отменить действия?
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>

      <div class="modal-body custom-modal-body">
        <div class="modal-icon">!</div>
        <h2>Будет отменено {{ events_index|length }} шт.</h2>
        <p>Это действие может повлиять на выбранные события.</p>
      </div>

      <div class="modal-footer custom-modal-footer">
        <button id="confirmMassCancel" type="button" class="btn custom-btn">Да</button>
        <button id="rejectMassCancel" type="button" class="btn custom-grey-btn">Нет</button>
      </div>

    </div>
  </div>
</div>

<!--форма-->
<div class="filters" data-account-id="{{ account_id }}" data-events-index='{{ events_index }}'>
<form action="" method="post"  class="form-filters">
        {{ form.hidden_tag() }}
        {% for i in form if i.name not in ['csrf_token'] %}
            {% if i.name == 'submit' %}
                <div>
                    {{ i(class="btn custom-btn", style="margin-top: 32px; height: 37.5px") }}
                </div>
            {% else %}
                <div>
                    {{ i.label }}
                    {{ i(class="form-control") }}
                </div>
                {% for error in i.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
                {{message}}
            {% endif %}
        {% endfor %}


    </form>
    <button class="btn-danger-mass" style="margin-top: 32px; height: 37.5px" title="Отменить действие">
            ↩ Отменить все
        </button>
    </div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 мин назад</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Закрыть"></button>
    </div>
    <div class="toast-body">
      Привет, мир! Это тост-сообщение.
    </div>
  </div>
</div>

    <p></p>
{% if not errors %}
        <table class="table-modern">
          <thead>
            <tr>
              <th scope="col">дата</th>
              <th scope="col">автор</th>
              <th scope="col">объект</th>
              <th scope="col">название</th>
              <th scope="col">событие</th>
              <th scope="col">значение до</th>
              <th scope="col">значение после</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            {% for event in events %}
                <tr data-account-id="{{ account_id }}" data-event-index="{{ event.index }}">
                    {% for key, elem in event['data'].items() %}
                        {% if key == 'object_name' %}
                            <td>
                                <a href="https://{{ event['utils']['subdomain'] }}.amocrm.ru/leads/detail/{{ event['utils']['id'] }}">
                                    {{ elem }}
                                </a>
                            </td>
                        {% else %}
                            <td>{{ elem }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>
                        <button class="btn-danger-soft" title="Отменить действие">
                            ↩
                        </button>
                    </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    {% else %}
        <h2>{{ errors }}</h2>
    {% endif %}
{% endblock %}