{% extends "evellation/base.html" %}
{% block content %}
<script>
window.handleClick = function handleClick(btn) {
    const row = btn.closest("tr");
    const accountId = row.dataset.accountId;
    const eventIndex = row.dataset.eventIndex;

    const url = `/edit_event/${accountId}`; // строка в обратных кавычках

    fetch(url, {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            eventIndex: eventIndex
        })
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);

        // например удаляем строку из таблицы
        // row.remove();
    });

    location.reload();
}
</script>

<!--форма-->
<form action="" method="post" style="display: flex; gap: 10px; align-items: center;">
        {{ form.hidden_tag() }}
        {% for i in form if i.name not in ['csrf_token'] %}
            {% if i.name == 'submit' %}
                <div>
                    {{ i(class="btn custom-btn", style="margin-top: 32px; height: 37.5px") }}
                </div>
            {% else %}
                <div>
                    {{ i.label }}
                    {{ i(class="form-control") }}
                </div>
                {% for error in i.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
                {{message}}
            {% endif %}
        {% endfor %}
    </form>

    <p></p>
    {% if not errors %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">дата</th>
              <th scope="col">автор</th>
              <th scope="col">объект</th>
              <th scope="col">название</th>
              <th scope="col">событие</th>
              <th scope="col">значение до</th>
              <th scope="col">значение после</th>
              <th scope="col">ОТМЕНИТЬ</th>
            </tr>
          </thead>
          <tbody>
            {% for event in events %}
                <tr data-account-id="{{ account_id }}" data-event-index="{{ event.index }}">
                    {% for elem in event['data'] %}
                        <td>{{ elem }}</td>
                    {% endfor %}
                    <td><button class="btn custom-btn" onclick="handleClick(this)">X</button></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
    {% else %}
        <h2>{{ errors }}</h2>
    {% endif %}
{% endblock %}