{% extends "evellation/base.html" %}

{% block content %}

<div class="key-page">
    <form action="" method="post" class="key-form">
        {{ form.hidden_tag() }}

        {% for i in form %}
            {% if i.type == 'CSRFTokenField' %}

            {% elif i.type == 'SubmitField' %}
                <div class="key-actions">
                    {{ i(class="btn custom-btn") }}
                </div>

            {% else %}
                <div class="key-group">
                    <label class="key-label">{{ i.label }}</label>
                    {{ i(class="form-control key-input") }}
                </div>
            {% endif %}
        {% endfor %}

        <nav class="key-link-block" aria-label="breadcrumb">
            <a href="https://www.amocrm.ru/">Перейти в amocrm</a>
        </nav>
    </form>
</div>

{% endblock %}